zhipuai
groq
openai
tencentcloud-sdk-python
pandas
streamlit_extras
pyperclip
json-repair
sentence-transformers
numpy
scikit-learn
python-docx
statsmodels
openpyxl
prophet
plotly
Pillow
facenet-pytorch
torchvision
torch==2.3.1
streamlit==1.37.1
ultralytics==8.2.48
opencv-python-headless==4.10.0.84
