streamlit
zhipuai
groq
openai
tencentcloud-sdk-python
pandas
streamlit_extras
pyperclip
json-repair
sentence-transformers
numpy
scikit-learn
python-docx
# statsmodels
openpyxl
prophet
plotly
seaborn
xlsxwriter
# for ppt
python-pptx 
playwright
scipy==1.12.0
statsmodels==0.14.1
