streamlit 
zhipuai
groq
openai
tencentcloud-sdk-python
pandas
streamlit_extras
pyperclip
json-repair
sentence-transformers
numpy
scikit-learn
python-docx
statsmodels
openpyxl
prophet
plotly
Pillow
facenet-pytorch
torch
torchvision
opencv-python==4.10.0.84
ultralytics==8.3.13
